body {
    background-color: #e5eecc;
}

.container {
    display: block;
    width:700px;
    margin-left: auto;
    margin-right: auto;
}

.title{
    text-align: center;
    color: darkolivegreen;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
}

#flagCreate {
    text-align: center;
    background-color: darkolivegreen;
    width: 400px;
    height: 50px;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: darkseagreen;
    margin-left: auto;
    margin-right: auto;
}

.bluecolor {
    color: cornflowerblue;
}

.redcolor {
    color: palevioletred;
}

#waitingtext {
    color: darkolivegreen;
    margin-top: 50px;
    text-align: center;
}

#flagCreate h3 {
    padding: 0px;
    color: whitesmoke;
}

#field{
    text-align: center;
}

canvas{
    width: 700px;
}

#board {
    top: 150px;
}


.list button{
    float: right;
}

button {
	margin: 5px 5px 5px 0;
}
.error {
    color:red;
}

canvas {
    position: absolute;
    top: 50px;
}